.root {
	/* Color definitions */
	main: #708090;

	accent-dark: #374f66;
	accent-light: #51667a;

	accent-dark-text: #dcdcdc;
	accent-light-text: #ededed;

	-fx-background-color: main;
}

.menu-bar {
	-fx-background-color: accent-dark;
}
.menu-bar .menu > .label {
	-fx-text-fill: accent-dark-text;
}

.entity-tabs > .tab-header-area > .tab-header-background {
	-fx-background-color: accent-light;
}

.panel-header {
	-fx-background-color: accent-light;
	-fx-text-fill: accent-light-text;

	-fx-padding: 8px;
}
.panel-header .content {
	-fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.entity-tab,
.component > .title {
	-fx-background-color: accent-dark;
}
.entity-name,
.component-name {
	-fx-text-fill: accent-dark-text;
}

.attribute > .title {
	-fx-background-color: accent-dark;
}
.attribute-name {
	-fx-text-fill: accent-dark-text;
}

.component > .title .arrow,
.attribute > .title .arrow {
	-fx-background-color: accent-light-text;
}

.entity-content, 
.component-content,
.attribute-content {
	-fx-background-color: accent-light;
}

.remove-component {
	-fx-background-color: transparent;
	-fx-cursor: default;
}
.remove-component > .minus {
	-fx-fill: accent-light-text;
}
