name: Gradle Build

on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

  steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        version: 11
    - name: Gradle
      run: ./gradlew build
